.testimonials{
  font-family: 'Inter', 'Poppins' sans-serif;
  background-color: #07143D;
  padding: 88px 104px 80px;
  justify-content: center;
}

.testimonial-content{
  width: 100%;
  background-color: rgba(95, 101, 118, 0.08);
  padding:  72px 56px;
  border: 1px solid #667085 15px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stars{
  margin-bottom: 42px;
}

.quote{
  padding: 0;
  margin: 0 0 42px 0;
  width: 516px;
  font-family: 'poppins', sans-serif;
  font-size: 40px;
  color: #F9FAFB;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: -2%;
}

.avatar{
  display: flex;
  margin-bottom: 32px;
}

.name-title{
  margin-left: 15px;
  font-family: 'poppins', sans-serif;
}

.name{
  color: #F2F4F7;
  font-family: inherit;
  font-weight: 600;
  margin: 0 0 2px 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
}

.title{
  margin: 0;
  padding: 0;
  color: #EAECF0;
  font-weight: 300;
  line-height: 22px;
  font-size: 14px;
}

.arrows{
  display: none;
}

/* .arrows :nth-child(1){
  margin-right: 25px;

} */

.smaller-img{
  display: none;
}

.mobile-375-img{
  display: none;
}
