@media  screen and (min-width: 1300px){


  
header{
  font-family: 'Inter', sans-serif ;
  /* height: 90px; */
  padding: 0 80px 0 80px;
  background-color: white;
}

label #btn{
  color: #07143D;
}

.testimonialsheading, .teamsheading, .blogheading, .contactheading{
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 72px;
}

.testimonials-label, .teams-label, .blog-label, .contact-label{
  display: flex;
  font-size: 18px;
  font-weight: 550;
  color: #39E7BD;
  width: fit-content;
}


.testimonials-label img,
.teams-label img,
.blog-label img,
.contact-label img{
  margin-right: 10px;
}

.testimonials-headingtext, .teams-headingtext, .blog-headingtext, .contact-headingtext{
  display: flex;
  flex-direction: column;
 align-items: center;
}

.testimonials-maintext, .teams-maintext, .blog-maintext, .contact-maintext{
  font-size: 48px;
  line-height: 65px;
  /* font-weight: 500; */
  letter-spacing: -2%;
  color: #F2F2F2;
  width: 785px;
  margin: 0 0 16px 0;
  text-align: center;
}

.testimonials-subtext, .teams-subtext, .blog-subtext, .contact-subtext{
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  width: 550px;
  letter-spacing:0% ;
  margin: 0;
  padding: 0;
  color: #CDCDCD;
  font-weight: 300;
}

/* .hamburger{
  position: relative;
  width: 30px;
  height: 4px;
  background-color: #07143D;
  border-radius: 10px;
  cursor: pointer;
  z-index: 2;
  transition: 0.3s;
}

.hamburger::before,
.hamburger::after{
  content: '';
  position: absolute;
  height: 4px;
  right: 0;
  background-color: #07143D;
  border-radius: 10px;
  transition: 0.3s;
}

.hamburger::before{
  top: -10px;
  width: 20px;
}

.hamburger::after{
  top: 10px;
  width: 25px;

  
}

.toggle-menu{
  position: absolute;
  width: 30px;
  height: 100%;
  z-index: 3;
  cursor: pointer;
  opacity: 1;
} */

.inner-header .logo-container{
  height: 48px;
  width: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-header .logo-container img{
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.inner-header{
  display: flex;
  justify-content: space-between;
  padding: 21px 0;
  height: 100%;
  align-content: center;
}

.top-navigation{
  display: flex;
  justify-content: center;
  align-content: center;
  line-height: 24px;
  letter-spacing: -1%;
}

.top-nav{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.top-nav a{
  text-decoration: none;
  padding: 0 20px;
  display: flex;
  margin: 0;
  width: fit-content;
  align-items: center;
  cursor: pointer;
  font-family: 'inter', sans-serif;
  font-size: 16px;
}

.top-nav a:nth-child(3), .top-nav a:nth-child(4), .top-nav a:nth-child(5) {
  color: #475467;
  text-decoration: none;
  padding: 0 20px;
  display: flex;
  margin: 0;
  width: fit-content;
  align-items: center;
  cursor: pointer;
  font-family: 'inter', sans-serif;
  font-size: 16px;
}

.top-nav a:hover{
  text-decoration: underline;

}

.top-nav a:active{
  text-decoration: underline;

}

.top-nav svg{
  fill: #07143D;
}



.links-container{
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
  position: initial;
  box-shadow: none;
  transition: none;
}

#sidebar-active{
  display: none;
}

.open-sidebar-btn{
  display: none;
  padding: 0 20px;
}

.close-sidebar-btn{
  display: none;
  padding: 0 20px;
}






/* .top-navigation ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  line-height: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
 } */


/* .inner-header .logo-container{
  height: 48px;
  width: 18%;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.inner-header .logo-container img{
  height: 100%;
  width: 100%;
  object-fit: fill;
} */

/* .sidebar{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  height: 100vh;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: -10px 0 10px rgba(0,0,0, 0.1);
  list-style: none;
  text-decoration: none;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  backdrop-filter: blur(10px);
  margin: 0;
  padding: 40px 0 0 0;
}


.sidebar li {
  padding: 20px;
  color: transparent;

}

.sidebar li a{
  text-decoration: none;
  width: 100%;
}


.sidebar li:nth-child(1) a{
  width: 100%;
  margin: 0; 
  color: #07143D;
  font-weight: 600;
  text-decoration: none;
}

.sidebar li:nth-child(2) a{
  margin: 0; 
  color: #586374;
  font-weight: 600;
  text-decoration: none;
}

.sidebar li:nth-child(3) a{
  margin: 0; 
  color: #586374;
  font-weight: 600;
  text-decoration: none;
}

.sidebar li:nth-child(4) a{
  margin: 0; 
  color: #586374;
  font-weight: 600;
  text-decoration: none;
}

.hamburger{
  display: none;
  list-style: none;
  list-style-type: none;
}
 */





























.top-navigation nav ul li:nth-child(1) a{
  margin: 0; 
  color: #07143D;
  font-weight: 600;
  text-decoration: none;
}

.top-navigation nav ul li:nth-child(2) a{
  margin: 0; 
  color: #586374;
  font-weight: 600;
  text-decoration: none;
}

.top-navigation nav ul li:nth-child(3) a{
  margin: 0; 
  color: #586374;
  font-weight: 600;
  text-decoration: none;
}

.top-navigation nav ul li:nth-child(4) a{
  margin: 0; 
  color: #586374;
  font-weight: 600;
  text-decoration: none;
}





.top-navigation nav ul li:nth-child(1){
  margin-right: 32px; 
  color: #07143D;
  font-weight: 600;
  text-decoration: none;
}

.top-navigation nav ul li:nth-child(2){
  margin-right: 32px; 
  font-weight: 600;
  color: #586374;
  text-decoration: none;
}


.top-navigation nav ul li:nth-child(3){
  margin-right: 32px; 
  font-weight: 600;
  color: #586374;
  text-decoration: none;
}


.top-navigation ul li:nth-child(4){
  text-decoration: none;
  font-weight: 600;
  color: #586374;
}




.top-navigation nav ul li:nth-child(2) a:hover{
  margin: 0; 
  font-weight: 600;
  color: #07143D;
  text-decoration: underline;
}


.top-navigation nav ul li:nth-child(3) a:hover{
  margin: 0; 
  font-weight: 600;
  color: #07143D;
  text-decoration: underline;
}


.top-navigation ul li:nth-child(4) a:hover{

  font-weight: 600;
  color: #07143D;
  text-decoration: underline;
}





.Get-started-button button{
  padding: 14px 20px;
  line-height: 24px;
  letter-spacing: -1%;
  font-size: 16px;
  font-family: inherit;
  display: flex;
  border: none;
  border-radius: 48px;
  color: white;
  font-weight: 600;
  background-color: #39E7BD;
}
.Get-started-button img{
  width: 24px;
  height: 24px;
  object-fit: fill;
  margin-left: 10px;
  display: block;
  
}

.Get-started-button button:hover{
  padding: 14px 20px;
  line-height: 24px;
  letter-spacing: -1%;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  display: flex;
  border: none;
  border-radius: 48px;
  color: #fff;
  font-weight: 600;
  background-color: #07143D;
  transition: 0.5s;
  cursor: pointer;
}

.Get-started-button {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.heropage{
  width: inherit;
  height: 811px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.bg-image{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.bg-image img{
  width: 100%;
  height: 100%;
   padding: 0;
  margin: 0;
  object-fit: cover;
}

.circles{
  display: flex;
  position: absolute;
  backdrop-filter: blur(0px);
  background-color: transparent;
}

.green-circle{
  position: absolute;
  left: -180px;
  width: 1096px;
  height: 850px;
  display: block;

}
.blue-circle{
  position: absolute;
  left: -125px;
  display: block;
}

.hero-text{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 200px;
  left: 84px;
  transform: translate(0%);
  font-family: "Poppins", sans-serif;
  color: white;
  align-items: flex-start;
}

.hero-large-text{
  font-size: 48px;
  line-height: 70px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  letter-spacing: -2px;
  width: 568px;
  margin: 0 0 15px 0;
  padding: 0;
  text-align: left;
}

.hero-small-text{
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -1%;
  width: 597px;
  margin: 0 0 30px 0;
  padding: 0;
  font-weight: 300;
  color: #d4d4d4;
  text-align: left;
}

.Hero-Get-started-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.Hero-Get-started-button button{
padding: 14px 20px;
line-height: 24px;
letter-spacing: -1%;
font-size: 16px;
font-family: "Inter", sans-serif;
display: flex;
border: none;
border-radius: 48px;
color: white;
font-weight: 600;
background-color: #39E7BD;
}

.Hero-Get-started-button img{
  margin-left: 10px;
}

.Hero-Get-started-button button:hover{
  padding: 14px 20px;
  line-height: 24px;
  letter-spacing: -1%;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  display: flex;
  border: none;
  border-radius: 48px;
  color: white;
  font-weight: 600;
  background-color: transparent;
  border: 1px solid  #30C5A1;
  cursor: pointer;
  transition: .5s
  }





/*about*/



.about-us{
  font-family: 'Inter', 'Poppins' sans-serif;
  background-color: #07143D;
  padding: 112px 102px 102px 72px;
  border: none;
}

.aboutusheading{
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 72px;
}

.aboutus-label{
  display: flex;
  font-size: 18px;
  font-weight: 550;
  color: #39E7BD;
  width: fit-content;
}


.aboutus-label img{
  margin-right: 10px;
}

.aboutus-headingtext{
  display: flex;
  flex-direction: column;
 align-items: center;
}

.aboutus-maintext{
  font-size: 48px;
  line-height: 65px;
  /* font-weight: 500; */
  letter-spacing: -2%;
  color: #F2F2F2;
  width: 785px;
  margin: 0 0 16px 0;
  text-align: center;
}

.aboutus-subtext{
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  width: 550px;
  letter-spacing:0% ;
  margin: 0;
  padding: 0;
  color: #CDCDCD;
  font-weight: 300;
}


.aboutuscontent{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.image-decor-frame{
  width: 660px;
  height: 654px;
  display: flex;
  position: relative;

}

.image-frame{
  width: 560px;
  height: 565px;
  display: flex;
  position: absolute;
  left: 24px;
  top: 24px;
  z-index: 1;
}

.image-main{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.decor-1{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.decor-2{
  display: flex;
  position: absolute;
  right: 2px;
  bottom: 28px;
}

.textframe{
  margin-left: 88px;
}

.textframe p{
  width: 450px;
  font-family: "poppins", sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  color: #ebebeb;
  padding: 0%;
  margin-bottom: 40px;


}

.textframe button{
  padding: 14px 20px;
  line-height: 24px;
  letter-spacing: -1%;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  display: flex;
  border: none;
  border-radius: 48px;
  color: white;
  font-weight: 600;
  background-color: #39E7BD;
  }

.textframe button:hover{
  padding: 14px 20px;
  line-height: 24px;
  letter-spacing: -1%;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  display: flex;
  border: none;
  border-radius: 48px;
  color: white;
  font-weight: 600;
  background-color: #07143D;
  border: 1px solid  #39E7BD;
  transition: 0.5s;
}



/*services*/



.services{
  font-family: 'Inter', 'Poppins' sans-serif;
  background-color: #07143D;
  padding: 80px 96px  88px 96px;
  display: grid;
  justify-items: center;
  border-top: 1px solid #1f2847;
  /* border-top:1px solid  #3a3a3a; */
}

.servicesheading{
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 72px;
}

.services-label{
  display: flex;
  font-size: 18px;
  font-weight: 550;
  color: #39E7BD;
  width: fit-content;
}


.services-label img{
  margin-right: 10px;
}

.services-headingtext{
  display: flex;
  flex-direction: column;
 align-items: center;
}

.services-maintext{
  font-size: 48px;
  line-height: 65px;
  /* font-weight: 500; */
  letter-spacing: -2%;
  color: #F2F2F2;
  width: 785px;
  margin: 0 0 16px 0;
  text-align: center;
}

.services-subtext{
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  width: 550px;
  letter-spacing:0% ;
  margin: 0;
  padding: 0;
  color: #CDCDCD;
  font-weight: 300;
}

.service-listing{
  margin-bottom: 88px;
  width: 100%;
}

.services button{
  padding: 14px 20px;
  line-height: 24px;
  letter-spacing: -1%;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  display: flex;
  border: none;
  border-radius: 48px;
  color: white;
  font-weight: 600;
  background-color: #39E7BD;
  cursor: pointer;
}

.services button:hover{
  padding: 14px 20px;
  line-height: 24px;
  letter-spacing: -1%;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  display: flex;
  border: none;
  border-radius: 48px;
  color: white;
  font-weight: 600;
  background-color: transparent;
  border: 1px solid  #39E7BD;
  transition: 0.5s;
  cursor: pointer;
}



.first-service,  .third-service{
  display: flex;
  flex-direction: row;
  margin-bottom: 112px;
  width:100%;

}

.second-service{
  display: flex;
  flex-direction: row;
  margin-bottom: 112px;
  width: 100%;
}

.fourth-service{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.first-service-text, .third-service-text{
  width: 512px;
  padding: 10px 8px 10px 20px;
  margin: 0;
  border-left: 5px solid #39E7BD;
}

.second-service-text, .fourth-service-text{
  width: 512px;
  /* margin: 0 0 0 72px; */
  padding: 10px 0px 10px 20px;
  border-left: 5px solid #39E7BD;
}



.first-service-head, .second-service-head, .third-service-head, .fourth-service-head{
  display: flex;
  padding: 1px 1px 1px 0px;
  margin-bottom: 10px;
}

 .first-service-head p,
 .second-service-head p,
 .third-service-head p,
 .fourth-service-head p{
 font-family: "poppins";
 font-size: 26px;
 color: #F2F2F2;
 font-weight: 400;
 line-height: 42px;
 margin: 0;
 padding: 0;
}



.first-service-head img, 
.second-service-head img,
.third-service-head img,
.fourth-service-head img{
  margin-right: 16px;
}



.first-service-sub, .second-service-sub, .third-service-sub, .fourth-service-sub{
  font-family: 'poppins';
  color: rgba(245, 245, 245, 0.8);
  font-size: 20px;
  font-weight: 300;
  line-height: 33px;
  letter-spacing: -1%;
  padding: 0;
  margin: 0;
  width: 100%;
}

.first-service-img, .second-service-img, .third-service-img, .fourth-service-img{
  width: 524px;
  height: 262px;
  display: flex;
  position: relative;
  /* border: 1px solid wheat; */
  justify-content: center;
  align-items: center;
}

.first-service-img-frame, .second-service-img-frame, .third-service-img-frame, .fourth-service-img-frame{
  width: 504px;
  height: 242px;
  margin: 10px;
}

.first-service-img-frame img,
.third-service-img-frame img{
  object-fit: cover;
  object-position: center top;
  width: 100%;
  height: 100%;
}

.fourth-service-img-frame img,
.second-service-img-frame img{
  object-fit: cover;
  object-position: center top;
  width: 100%;
  height: 100%;
  transform: scaleX(-1);
}

/* .first-service-img img{
  display: flex;
  position: absolute;
  top: 10px;
  right: 10px;
  object-fit: cover;
} */

.right-angle-1{
  display: flex;
  position: absolute;
  right: 0px;
  top: 0px
}

.right-angle-2{
  display: flex;
  position: absolute;
  left: 0px;
  bottom: 0px;
}



/* testimonials*/


.testimonials{
  font-family: 'Inter', 'Poppins' sans-serif;
  background-color: #07143D;
  padding: 88px 104px 80px;
  justify-content: center;
  border-top: 1px solid #1f2847;
}

.testimonial-content{
  width: 100%;
  background-color: rgba(95, 101, 118, 0.08);
  padding:  72px 56px;
  border: 1px solid #667085 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.desktop-img{
  display: block;
}

.stars{
  margin-bottom: 42px;
}

.quote{
  padding: 0;
  margin: 0 0 42px 0;
  width: 500px;
  font-family: 'poppins', sans-serif;
  font-size: 40px;
  color: #F9FAFB;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: -2%;
}

.avatar{
  display: flex;
  margin-bottom: 32px;
}

.name-title{
  margin-left: 15px;
  font-family: 'poppins', sans-serif;
}

.name{
  color: #F2F4F7;
  font-family: inherit;
  font-weight: 600;
  margin: 0 0 2px 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
}

.title{
  margin: 0;
  padding: 0;
  color: #EAECF0;
  font-weight: 300;
  line-height: 22px;
  font-size: 14px;
}

.arrows{
  display: none;
}

/* .arrows :nth-child(1){
  margin-right: 25px;

} */

.smaller-img{
  display: none;
}

.mobile-375-img{
  display: none;
}





/*teams*/

.teams{
  font-family: 'Inter', 'Poppins' sans-serif;
  background-color: #07143D;
  padding: 88px 104px 80px;
  border-top: 1px solid #1f2847;
}

.teams-cards{
  padding: 0 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  
  
}

.member-1, .member-2, .member-3{
  width: 350px;
  height: 410px;
  display: flex;
  justify-content: center;
  align-items: end;
  position: relative;
  border-radius: 2px;
  margin-bottom: 48px;
}

 .member-4, .member-5, .member-6{
  width: 350px;
  height: 410px;
  display: flex;
  justify-content: center;
  align-items: end;
  position: relative;
  border-radius: 2px;
}




.member-1 img,
.member-2 img,
.member-3 img,
.member-4 img,
.member-5 img,
.member-6 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.glassframe-1, .glassframe-2, .glassframe-3, .glassframe-4, .glassframe-5, .glassframe-6{
  display: flex;
  position: absolute;
  width: 260px;
  height: 110px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px);
  margin-bottom: 15px;
  padding: 20px;
  border-radius: 2px;
  /* padding-left: 30px; */
  border: 1px solid rgba(255, 255, 255, 0.3);
  flex-direction: column;
}

/* .glassframe-1 :nth-child(1){
  margin: 0 0 0 0;
  font-family: 'inter';
  font-weight: 400;
  line-height: 32px;
  color: #ffffff;
  font-size: 20px;
}

.glassframe-1 :nth-child(2){
  margin: 0 0 0 0;
  font-family: 'inter';
  font-weight: 300;
  line-height: 32px;
  color: #ffffff;
  font-size: 14px;
} */

.member-name, .member-name2, .member-name3, .member-name4, .member-name5{
  width: 100%;
  margin: 0 0 2px 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  /* align-items: center;
  justify-content: center; */
}

.member-name6{
  width: 100%;
  margin: 0 0 2px 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

/* .member-name p{
  margin: 0;
  padding: 0;
  
} */

.openicon{
  width: 26px;
  height: 26px;
  margin: 0;
  padding: 0;
  display: flex;
}

.openicon img{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  object-fit: cover;
}

.m-name p{
  padding: 0;
  margin: 0 0 0 0;
  font-family: 'inter';
  font-weight: 500;
  line-height: 32px;
  color: #ffffff;
  font-size: 20px;

}

.m-title{
  margin-bottom: 16px;
}

.m-title p{
  padding: 0;
  margin: 0 0 0 0;
  font-family: 'inter';
  font-weight: 300;
  line-height: 32px;
  color: #ffffff;
  font-size: 14.5px
}

.social-icons{
  display: flex;
  
}

.social-icons img{
  margin-right: 20px;
}

.social-icons:nth-child(1){
  width: 22px;
  height: 22px;
  object-fit: cover;
}

.social-icons:nth-child(2){
  width: 22px;
  height: 22px;
  object-fit: cover;
}

.social-icons:nth-child(3){
  width: 22px;
  height: 22px;
  object-fit: cover;
}







/* blog*/

.blog{
  font-family: 'Inter', 'Poppins' sans-serif;
  background-color: #0c173d;
  padding: 88px 104px 80px;
  border-top: 1px solid #1f2847;
  
}

.blog-content{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  
}

.blogpost1, .blogpost2, .blogpost3{
  width: 350px;
}

.postimg1, .postimg2, .postimg3{
  width: 350px;
  height: 230px;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
}

.postimg1 img,
.postimg2 img,
.postimg3 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-tag, .blog-tag2, .blog-tag3{
  font-family: 'poppins';
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #30C5A1;
  margin: 0 0 8px 0;
  padding: 0;
}

.blog-title, .blog-title2, .blog-title3{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 23px;
  font-weight: 500;
  font-family: 'poppins';
  color: #F2F4F7;
  line-height: 32px;
  letter-spacing: 0px;
  /* margin-bottom: 8px; */
}

.blog-paragraph, .blog-paragraph2, .blog-paragraph3{
  font-size: 15px;
  font-family: 'poppins';
  line-height: 24px;
  width: 100%;
  height: fit-content;
  color: #D0D5DD;
  margin: 8px 0 16px 0 ;
}

.author-frame, .author-frame2, .author-frame3{
  display: flex;
  align-items: center;
  justify-content: start;
}

.author-img, .author-img2, .author-img3{
  width: 50px;
  height: 50px;
  border-radius: 25px;
  overflow: hidden;
  margin-right: 12px;
}

.author-img img,
.author-img2 img,
.author-img3 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.author-details :nth-child(1){
  font-family: 'poppins';
  font-size: 15px;
  color: #F2F4F7;
  letter-spacing: 0.5px;
  font-weight: 500;
  line-height: 24px;
  margin: 0 0 1px 0;
  padding: 0;
}

.author-details :nth-child(2){
  font-family: 'poppins';
  color: #D0D5DD;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.author-details2 :nth-child(1){
  font-family: 'poppins';
  font-size: 15px;
  color: #F2F4F7;
  letter-spacing: 0.5px;
  font-weight: 500;
  line-height: 24px;
  margin: 0 0 1px 0;
  padding: 0;
}

.author-details2 :nth-child(2){
  font-family: 'poppins';
  color: #D0D5DD;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.author-details3 :nth-child(1){
  font-family: 'poppins';
  font-size: 15px;
  color: #F2F4F7;
  letter-spacing: 0.5px;
  font-weight: 500;
  line-height: 24px;
  margin: 0 0 1px 0;
  padding: 0;
}

.author-details3 :nth-child(2){
  font-family: 'poppins';
  color: #D0D5DD;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  margin: 0;
  padding: 0;
}



/*contact*/

.contact{
  font-family: 'Inter', 'Poppins' sans-serif;
  background-color: #07143D;
  padding: 88px 104px 176px 104px ;
  border-top: 1px solid #1f2847;
}

.contact-content{
  display: flex;
  flex-direction: row;
  padding: 0 ;
  margin: 0;
  justify-content: space-between;
}

.email-contact, .office-contact, .phone-contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}

.email-icon, .office-icon, .phone-icon{
  margin: 0 0 16px 0;
}

.email-frame, .office-frame, .phone-frame{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 16px 0;
  padding: 0;
}


.email-frame :nth-child(1){
  font-family: 'poppins';
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  margin: 0 0 8px 0;
}

.email-frame :nth-child(2){
  font-family: 'poppins';
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 16px;
  color: #e9e9e9;
  margin: 0 0 0;
}

.office-frame :nth-child(1){
  font-family: 'poppins';
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  margin: 0 0 8px 0;
}

.office-frame :nth-child(2){
  font-family: 'poppins';
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 16px;
  color: #e9e9e9;
  margin: 0 0  0;
}

.phone-frame :nth-child(1){
  font-family: 'poppins';
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  margin: 0 0 8px 0;
}

.phone-frame :nth-child(2){
  font-family: 'poppins';
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 16px;
  color: #e9e9e9;
  margin: 0 0  0;
}

.email-link, .office-link, .phone-link{
  font-family: 'poppins';
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 1px;
  font-weight: 500;
}

.email-link p,
.office-link p,
.phone-link p{
  margin: 0;
  padding: 0;
}



/*footer*/

footer{
  font-family: 'Poppins' sans-serif;
  background-color: #07143D;
  padding: 104px 80px 12px  80px;
  border-top: 1px solid #1f2847;
}

.footer-logo-links{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 64px;
  font-family: 'poppins';
  flex: 1;
}

.footer-logo{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.footer-logo img{
  display: block;
  width: 206px;
  height: 48px;
  object-fit: 100%;
}

/* .main-footer-img{
  display: block;
} */

.footer-nav{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-nav ul{
  list-style: none;
  display: flex;
 align-items: center;
  
}

.footer-links{
  font-family: 'poppins';
}

.footer-links .footer-nav  ul li{
  margin: 0;
  padding: 0;
}

.footer-links nav a:nth-child(1){
  text-decoration: none;
  margin: 0  32px 0 0;  
  color: #eaecf0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;

}

.footer-links nav a:nth-child(2){
  text-decoration: none;
  margin: 0  32px 0 0; 
  color: #eaecf0;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
}

.footer-links nav a:nth-child(3){
  text-decoration: none;
  margin: 0  32px 0 0;  
  color: #eaecf0;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
}

.footer-links nav a:nth-child(4){
  text-decoration: none;
  margin: 0  0 0;  
  color: #eaecf0;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
}

.footer-links nav a:active{
  text-decoration: underline;
}


.footer-links nav a:hover{
  text-decoration: underline;
}


.footer-note{
  display: flex;
  flex-direction: row;
  margin: 24px 0 0 0;
  padding: 24px 0 ;
  font-family: 'poppins';
  border-top: 1px solid #1f2847;
}

.foot-note{
  color: #D0D5DD;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  flex: 1;
}

.foot-note p{
  margin: 0;
  padding: 0;
}

.footer-extra{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-extra ul{
  list-style: none;
  display: flex;
  line-height: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  
}

.footer-links {
  font-family: 'poppins';
}



.footer-nav{
  font-size: 16px;
}

.note-links nav ul li:nth-child(1){
  margin: 0 10px 0 0; 
  color: #eaecf0;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  cursor: pointer;

}

.note-links nav ul li:nth-child(2){
  margin-right: 10px;  
  font-weight: 300;
  color: #EAECF0;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

.note-links nav ul li:nth-child(3){
  font-weight: 300;
  color: #EAECF0;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

.footer-img{
  display: none;
}









}