@media screen and (min-width:1300px) {

  
header{
  font-family: 'Inter', sans-serif ;
  /* height: 90px; */
  padding: 0 80px 0 80px;
  background-color: white;
}

/* general css */

 .contactheading{
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 72px;
}

 .contact-label{
  display: flex;
  font-size: 18px;
  font-weight: 550;
  color: #39E7BD;
  width: fit-content;
}



.contact-label img{
  width: 21px;
  height: 20px;
  object-fit: fill;
  margin-right: 10px;
}

 .contact-headingtext{
  display: flex;
  flex-direction: column;
 align-items: center;
}

 .contact-maintext{
  font-size: 48px;
  line-height: 65px;
  /* font-weight: 500; */
  letter-spacing: -2%;
  color: #F2F2F2;
  width: 785px;
  margin: 0 0 16px 0;
  text-align: center;
}

 .contact-subtext{
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  width: 550px;
  letter-spacing:0% ;
  margin: 0;
  padding: 0;
  color: #CDCDCD;
  font-weight: 300;
}






















.logo-container{
  height: 53.33%;
  width: 206px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-header{
  display: flex;
  justify-content: space-between;
  padding: 21px 0;
  height: 100%;
  align-content: center;
}

.top-navigation{
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -1%;

}

.top-nav{
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-navigation ul{
  list-style: none;
  display: flex;
  line-height: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  
}

.logo-container{
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.logo-container img{
  height: fit-content;
  width: fit-content;
}


.top-nav{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.top-nav a:nth-child(5){
  text-decoration: none;
  padding: 0 20px;
  display: flex;
  margin: 0;
  width: fit-content;
  align-items: center;
  cursor: pointer;
  font-family: 'inter', sans-serif;
  font-size: 16px;
  color: #07143D;
  font-weight: 600;
}

.top-nav a:nth-child(2), .top-nav a:nth-child(3), .top-nav a:nth-child(4) {
  color: #475467;
  text-decoration: none;
  padding: 0 20px;
  display: flex;
  margin: 0;
  width: fit-content;
  align-items: center;
  cursor: pointer;
  font-family: 'inter', sans-serif;
  font-size: 16px;
  font-weight: 600;

}

.top-nav a:hover{
  text-decoration: underline;

}

.top-nav a:active{
  text-decoration: underline;

}

.top-nav svg{
  fill: #07143D;
}



.links-container{
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
  position: initial;
  box-shadow: none;
  transition: none;
}

#sidebar-active{
  display: none;
}

.open-sidebar-btn{
  display: none;
  padding: 0 20px;
}

.close-sidebar-btn{
  display: none;
  padding: 0 20px;
}

















.top-navigation ul li:nth-child(1){
  margin-right: 32px; 
  color: #586374;
  font-weight: 600;
  cursor: pointer;
}

.top-navigation ul li:nth-child(2){
  margin-right: 32px; 
  font-weight: 600;
  color: #586374;
  cursor: pointer;
}

.top-navigation ul li:nth-child(3){
  margin-right: 2em; 
  font-weight: 600;
  color: #586374;
  cursor: pointer;
}

.top-navigation ul li:nth-child(4){
  margin-right: 2em; 
  font-weight: 600;
  color: #07143D;
  cursor: pointer;
}



.Get-started-button button{
  padding: 14px 20px;
  line-height: 24px;
  letter-spacing: -1%;
  font-size: 16px;
  font-family: inherit;
  display: flex;
  border: none;
  border-radius: 48px;
  color: white;
  font-weight: 600;
  background-color: #39E7BD;
}


.Get-started-button button:hover{
  padding: 14px 20px;
  line-height: 24px;
  letter-spacing: -1%;
  font-size: 16px;
  font-family: inherit;
  display: flex;
  border: none;
  border-radius: 48px;
  color: white;
  font-weight: 600;
  background-color: #07143D;
  transition: 0.5s;
}



.Get-started-button img{
  margin-left: 10px;
}

.Get-started-button {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.heropage{
  width: inherit;
  height: 811px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.bg-image{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.bg-image img{
  width: 100%;
  height: 100%;
   padding: 0;
  margin: 0;
  object-fit: cover;
}

.circles{
  display: flex;
  position: absolute;
}

.green-circle{
  position: absolute;
  left: -65px;
}
.blue-circle{
  position: absolute;
  left: -60px;
}

.hero-text{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 200px;
  left: 84px;
  font-family: "Poppins", sans-serif;
  color: white;
}

.hero-large-text{
  font-size: 48px;
  line-height: 70px;
  /* font-weight: 500; */
  letter-spacing: -2%;
  width: 597px;
  margin: 0 0 15px 0;
  padding: 0;
}

.hero-small-text{
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -1%;
  width: 597px;
  margin: 0 0 30px 0;
  padding: 0;
  font-weight: 300;
  color: #d4d4d4;
}

.Hero-Get-started-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.Hero-Get-started-button button{
padding: 14px 20px;
line-height: 24px;
letter-spacing: -1%;
font-size: 16px;
font-family: "Inter", sans-serif;
display: flex;
border: none;
border-radius: 48px;
color: white;
font-weight: 600;
background-color: #39E7BD;
}

.Hero-Get-started-button img{
  margin-left: 10px;
}






body{
  margin: 0;
  padding: 0;
  font-family: 'Inter', 'Poppins' sans-serif;
  background-color: white;
}

.contact-page{
  font-family: 'Inter', 'Poppins' sans-serif;
  background-color: #07143D;
  padding: 112px 102px 72px 102px;
  border-top: 1px solid #1f2847;
  /* border-top:1px solid  #3a3a3a; */
}

.contact-page-img{
  display: block;
  width: 94%;
  height: 400px;
  padding: 32px 32px;
}

.contact-page-img img{
  height: 100%;
  width: 100%;
}

.phone-contact-img{
  display: none;
}

.contacts{
  font-family: 'Inter', 'Poppins' sans-serif;
  background-color: #07143D;
  padding: 112px 30px 88px 30px ;
  width: 100%;
}

.contact-content{
  display: flex;
  flex-direction: row;
  padding: 0 ;
  margin: 0;
  justify-content: space-between;
}

.email-contact, .office-contact, .phone-contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}

.email-icon, .office-icon, .phone-icon{
  margin: 0 0 16px 0;
}

.email-frame, .office-frame, .phone-frame{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 16px 0;
  padding: 0;
}


.email-frame p:nth-child(1){
  font-family: 'poppins';
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  letter-spacing: -0.5px;
  margin: 0 0 8px 0;
}

.email-frame p:nth-child(2){
  font-family: 'poppins';
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 24px;
  color: #e9e9e9;
  margin: 0 0 0;
}

.office-frame p:nth-child(1){
  font-family: 'poppins';
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  margin: 0 0 8px 0;
  letter-spacing: -0.5px;
}

.office-frame p:nth-child(2){
  font-family: 'poppins';
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 24px;
  color: #e9e9e9;
  margin: 0 0  0;
}

.phone-frame p:nth-child(1){
  font-family: 'poppins';
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  margin: 0 0 8px 0;
  letter-spacing: -0.5px;
}

.phone-frame p:nth-child(2){
  font-family: 'poppins';
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 24px;
  color: #e9e9e9;
  margin: 0 0  0;
  letter-spacing: -1px;
}

.email-link p, .office-link p, .phone-link p{
  font-family: 'poppins';
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  font-weight: 500;
}

.email-link p,
.office-link p,
.phone-link p{
  margin: 0;
  padding: 0;
}





/*footer*/

footer{
  font-family: 'Poppins' sans-serif;
  background-color: #07143D;
  padding: 104px 80px 12px  80px;
  border-top: 1px solid #1f2847;
}

.footer-logo-links{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 64px;
  font-family: 'poppins';
  flex: 1;
}


.footer-logo{
  display: flex;
  margin: 0 0 40px 0;
  align-items: center;
  justify-content: center;

}

.footer-logo img{
  width: 206px;
  height: 48px;
  object-fit: fill;
}

.footer-nav{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-nav ul{
  list-style: none;
  display: flex;
  align-items: center;
  
}

.footer-links{
  font-family: 'poppins';
}


.footer-links nav a:nth-child(1){
  text-decoration: none;
  margin: 0  32px 0 0;  
  color: #eaecf0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;

}

.footer-links nav a:nth-child(2){
  text-decoration: none;
  margin: 0  32px 0 0; 
  color: #eaecf0;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
}

.footer-links nav a:nth-child(3){
  text-decoration: none;
  margin: 0  32px 0 0;  
  color: #eaecf0;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
}

.footer-links nav a:nth-child(4){
  text-decoration: none;
  margin: 0  0 0;  
  color: #eaecf0;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
}

.footer-links nav a:active{
  text-decoration: underline;
}

.footer-links nav a:hover{
  text-decoration: underline;
}

/* .footer-links ul li:nth-child(1), .footer-links ul li:nth-child(2), .footer-links ul li:nth-child(3){
  margin-right: 32px; 
  color: #eaecf0;
  font-weight: 400;
  font-size: 16px;

}



.footer-links ul li:nth-child(4){
  font-size: 16px;
  font-weight: 400;
  color: #EAECF0;
} */


.footer-note{
  display: flex;
  flex-direction: row;
  margin: 24px 0 0 0;
  padding: 24px 0 ;
  font-family: 'poppins';
  border-top: 1px solid #1f2847;
}

.foot-note{
  color: #D0D5DD;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  flex: 1;
}

.foot-note p{
  margin: 0;
  padding: 0;
}

.footer-extra{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-extra ul{
  list-style: none;
  display: flex;

}

.footer-links{
  font-family: 'poppins';
}

.note-links .footer-nav li:nth-child(1){
  margin-right: 16px; 
  color: #eaecf0;
  font-weight: 300;
  font-size: 16px;
  cursor: pointer;
}

.note-links .footer-nav li:nth-child(2){
  margin-right: 16px; 
  color: #eaecf0;
  font-weight: 300;
  font-size: 16px;
  cursor: pointer;
}

.note-links .footer-nav li:nth-child(3){
  color: #eaecf0;
  font-weight: 300;
  font-size: 16px;
  cursor: pointer;
}
.footer-img{
  display: none;
}


  
}