@media screen and (min-width:768px) {


  header{
    font-family: 'Inter', sans-serif ;
    /* height: 90px; */
    padding: 0 80px 0 80px;
    background-color: white;
  }
  
  .logo-container{
    height: 25px;
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .logo-container img{
    overflow: visible;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .inner-header{
    display: flex;
    justify-content: space-between;
    padding: 18px 0;
    height: 100%;
    align-items: center;
  }
  
  .top-navigation{
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: -1%;
  }

  .top-nav{
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .top-nav ul li{
    color: transparent;
  }

  .top-nav ul{
    color: transparent;
  }



  .top-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .top-nav a:nth-child(3){
    text-decoration: none;
    padding: 0 14px;
    display: flex;
    margin: 0;
    width: fit-content;
    align-items: center;
    cursor: pointer;
    font-family: 'inter', sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #07143D;
  }
  
  .top-nav a:nth-child(2), .top-nav a:nth-child(4), .top-nav a:nth-child(5) {
    color: #475467;
    text-decoration: none;
    padding: 0 14px;
    display: flex;
    margin: 0;
    width: fit-content;
    align-items: center;
    cursor: pointer;
    font-family: 'inter', sans-serif;
    font-size: 12px;
    font-weight: 600;
  }
  
  .top-nav a:hover{
    text-decoration: underline;
  
  }
  
  .top-nav svg{
    fill: #07143D;
  }
  
  
  
  .links-container{
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
    position: initial;
    box-shadow: none;
    transition: none;
  }
  
  #sidebar-active{
    display: none;
  }
  
  .open-sidebar-btn{
    display: none;
    padding: 0 20px;
  }
  
  .close-sidebar-btn{
    display: none;
    padding: 0 20px;
  }





  .top-nav ul li:nth-child(1){
    margin: 0 18px 0 0;
    color: #475467;
    font-weight: 600;
    text-decoration: none;
  }


  .top-nav ul li:nth-child(2) a{
    margin: 0 18px 0 0;
    color: #07143D;
    font-weight: 600;
    text-decoration: none;
  }

  .top-nav ul li:nth-child(3){
    margin: 0 18px 0 0;
    color: #475467;
    font-weight: 600;
    text-decoration: none;
  }

  .top-nav ul li:nth-child(4){
    margin: 0 0 0;
    color: #475467;
    font-weight: 600;
    text-decoration: none;
  }



  .Get-started-button button{
    padding: 9px 13px;
    line-height: 12px;
    letter-spacing: -1%;
    font-size: 9px;
    font-family: inherit;
    display: flex;
    border: none;
    border-radius: 48px;
    color: white;
    font-weight: 600;
    background-color: #39E7BD;
  }


  .Get-started-button button:hover{
    padding: 9px 13px;
    line-height: 12px;
    letter-spacing: -1%;
    font-size: 9px;
    display: flex;
    border: none;
    border-radius: 48px;
    color: white;
    font-weight: 600;
    background-color: #07143D;
    transition: 0.5s;
  }





  .Get-started-button img{
    display: block;
    margin-left: 6px;
    width: 12px;
    height: 12px;
    object-fit: cover;
  }
  
  .Get-started-button {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .heropage{
    width: inherit;
    height: 811px;
    display: flex;
    position: relative;
    overflow: hidden;
  }
  
  .bg-image{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  
  .bg-image img{
    width: 100%;
    height: 100%;
     padding: 0;
    margin: 0;
    object-fit: cover;
  }
  
  .circles{
    display: flex;
    position: absolute;
  }
  
  .green-circle{
    position: absolute;
    left: -65px;
  }
  .blue-circle{
    position: absolute;
    left: -60px;
  }
  
  .hero-text{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 200px;
    left: 84px;
    font-family: "Poppins", sans-serif;
    color: white;
  }
  
  .hero-large-text{
    font-size: 48px;
    line-height: 70px;
    /* font-weight: 500; */
    letter-spacing: -2%;
    width: 597px;
    margin: 0 0 15px 0;
    padding: 0;
  }
  
  .hero-small-text{
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -1%;
    width: 597px;
    margin: 0 0 30px 0;
    padding: 0;
    font-weight: 300;
    color: #d4d4d4;
  }
  
  .Hero-Get-started-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
  }
  
  .Hero-Get-started-button button{
  padding: 14px 20px;
  line-height: 24px;
  letter-spacing: -1%;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  display: flex;
  border: none;
  border-radius: 48px;
  color: white;
  font-weight: 600;
  background-color: #39E7BD;
  }


  .Get-started-button button:hover{
    padding: 9px 13px;
    line-height: 12px;
    letter-spacing: -1%;
    font-size: 9px;
    display: flex;
    border: none;
    border-radius: 48px;
    color: white;
    font-weight: 600;
    background-color: #07143D;
    transition: 0.5s;
  }
  
  .Hero-Get-started-button img{
    margin-left: 10px;
  }


  .aboutusheading, .valuesheading{
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 52px;
  }


  .about-us, .values, .teams{
    font-family: 'Inter', 'Poppins' sans-serif;
    background-color: #07143D;
    padding: 64px 52px;
    border-top: 1px solid #1f2847;
  }

  
  .aboutus-label, .values-label, .teams-label{
    display: flex;
    font-size: 10px;
    font-weight: 550;
    color: #39E7BD;
    width: fit-content;
    align-items: center;
    justify-content: center;
  }

  
  
 
  .aboutus-label img, .values-label img, .teams-label img{
    margin-right: 10px;
    width: 12px;
    height: 11px;
    object-fit: cover;
  }
  
 .aboutus-headingtext, .values-headingtext, .teams-headingtext{
    display: flex;
    flex-direction: column;
   align-items: center;
  }
  
  .aboutus-maintext, .values-maintext, .teams-maintext{
    font-size: 26px;
    line-height: 34px;
    /* font-weight: 500; */
    letter-spacing: -2%;
    color: #F2F2F2;
    width: 424px;
    margin: 0 0 9px 0;
    text-align: center;
    font-family: 'poppins', sans-serif;
  }
  
  .aboutus-subtext, .values-subtext, .teams-subtext{
    font-size: 11px;
    line-height: 16px;
    text-align: center;
    width: 368px;
    letter-spacing:0% ;
    margin: 0;
    padding: 0;
    color: #CDCDCD;
    font-weight: 300;
    font-family: 'poppins', sans-serif;
  }



  .aboutuscontent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .image-decor-frame{
    width: 346px;
    height: 348px;
    display: flex;
    position: relative;
  }
  
  .image-frame{
    width: 309px;
    height: 312px;
    display: flex;
    position: absolute;
    left: 24px;
    top: 24px;
    z-index: 1;
  }

  .image-main{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .decor-1{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 245px;
    height: 210px;
  }
  
  .decor-2{
    display: flex;
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 80px;
    height: 70px;
  }

  .textframe{
    margin-left: 56px;
  }
  
  .textframe p{
    width: 272px;
    font-family: "poppins", sans-serif;
    font-size: 13px;
    line-height: 17px;
    font-weight: 300;
    letter-spacing: 0px;
    color: #ebebeb;
    padding: 0%;
    margin-bottom: 20px;
    margin-top: 10px;
  
  
  }

  .textframe button{
    padding: 9px 13px;
    line-height: 12px;
    letter-spacing: -1%;
    font-size: 9px;
    font-family: inherit;
    display: flex;
    border: none;
    border-radius: 48px;
    color: white;
    font-weight: 600;
    background-color: #39E7BD;
    }
  
  .textframe button:hover{
    padding: 9px 13px;
    line-height: 12px;
    letter-spacing: -1%;
    font-size: 9px;
    display: flex;
    border: none;
    border-radius: 48px;
    color: white;
    font-weight: 600;
    background-color: #07143D;
    border: 1px solid  #39E7BD;
    transition: 0.5s;
  }
  
  .textframe button img{

    margin-left: 5px;
    width: 12px;
    height: 12px;
    object-fit: cover;
  }



  /*values*/

  .values-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
  }
  
  .value1, .value2, .value3, .value4, .value5, .value6, .value7,.value8, .value9{
    width: fit-content;
    display: flex;
    align-items: center;
    font-family: 'poppins', sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #F9FAFB;
    border: 2px solid rgba(181, 211, 204, 0.85);
    border-style: dashed;
    border-radius: 10px;
    padding: 12px 16px;
  }
  
  .value1 img,
  .value2 img,
  .value3 img,
  .value4 img,
  .value5 img,
  .value6 img,
  .value7 img,
  .value8 img,
  .value9 img{
    margin-right: 10px;
    width: 27px;
    height: 27px;
    object-fit: fill;
  }
  
  .value1 p,
  .value2 p,
  .value3 p,
  .value4 p,
  .value5 p,
  .value6 p,
  .value7 p,
  .value8 p,
  .value9 p{
    padding: 0;
    width: 155px;
    margin: 0;
  }
  
  .value1, .value2, .value3, .value4, .value5, .value6{
    margin-bottom: 24px;
  }



/* teams */


.teams-cards{
  padding: 0 ;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}


.member-1, .member-2, .member-3{
  width: 200px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: end;
  position: relative;
  border-radius: 2px;
  margin-bottom: 48px;
}

 .member-4, .member-5, .member-6{
  width: 200px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: end;
  position: relative;
  border-radius: 2px;
}

.member-name, .member-name2, .member-name3, .member-name4, .member-name5{
  width: 100%;
  margin: 0 0 8px 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  /* align-items: center;
  justify-content: center; */
}

.member-name6{
  width: 100%;
  margin: 0 0 8px 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.glassframe-1, .glassframe-2, .glassframe-3, .glassframe-4, .glassframe-5, .glassframe-6{
  display: flex;
  position: absolute;
  width: 160px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px);
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 2px;
  /* padding-left: 30px; */
  border: 1px solid rgba(255, 255, 255, 0.3);
  flex-direction: column;
}


.m-name p{
  padding: 0;
  margin: 0 0 0 0;
  font-family: 'inter';
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  font-size: 13px;

}

.m-title{
  margin-bottom: 12px;
}

.m-title p{
  padding: 0;
  margin: 0 0 0 0;
  font-family: 'inter';
  font-weight: 300;
  line-height: 12px;
  color: #ffffff;
  font-size: 8.5px
}

.openicon{
  width: 13px;
  height: 13px;
  margin: 0;
  padding: 0;
  display: flex;
}

.openicon img{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  object-fit: cover;
}

.social-icons img{
  margin-right: 12px;
}

.social-icons:nth-child(1){
  width: 13px;
  height: 13px;
  object-fit: cover;
}

.social-icons:nth-child(2){
  width: 13px;
  height: 13px;
  object-fit: cover;
}

.social-icons:nth-child(3){
  width: 13px;
  height: 13px;
  object-fit: cover;
}







/*footer*/ 



footer{
  font-family: 'Poppins' sans-serif;
  background-color: #07143D;
  padding: 48px 32px 8px;
  border-top: 1px solid #1f2847;
}

.footer-logo-links{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 48px;
  font-family: 'poppins';
  flex: 1;
}

.footer-logo{
  padding: 0;
  margin: 0 0 18px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-logo img{
  width: 110px;
  height: 26px;
  object-fit: 100%;
}

.footer-nav{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-nav ul{
  list-style: none;
  display: flex;
  align-items: center;
  
}

.footer-links{
  font-family: 'poppins';
}

.footer-links ul{
  color: transparent;
}

.footer-links nav a:nth-child(1){
  text-decoration: none;
  margin: 0  24px 0 0;  
  color: #eaecf0;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  cursor: pointer;

}

.footer-links nav a:nth-child(2){
  text-decoration: none;
  margin: 0  24px 0 0; 
  color: #eaecf0;
  font-weight: 400;
  font-size: 12px;
  cursor: pointer;
}

.footer-links nav a:nth-child(3){
  text-decoration: none;
  margin: 0  24px 0 0;  
  color: #eaecf0;
  font-weight: 400;
  font-size: 12px;
  cursor: pointer;
}

.footer-links nav a:nth-child(4){
  text-decoration: none;
  margin: 0  0 0; 
  color: #eaecf0;
  font-weight: 400;
  font-size: 12px;
  cursor: pointer;
}


.footer-note{
  display: flex;
  flex-direction: row;
  margin: 16px 0 0 0;
  padding: 20px 0 ;
  font-family: 'poppins';
  border-top: 1px solid #1f2847;
}

.foot-note{
  color: #D0D5DD;
  font-size: 10px;
  line-height: 13px;
  display: flex;
  flex: 1;
}

.foot-note p{
  margin: 0;
  padding: 0;
}


.footer-extra ul{
  list-style: none;
  display: flex;
  line-height: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
}

.footer-links{
  font-family: 'poppins';
}

.note-links nav ul li:nth-child(1){
  margin-right: 10px; 
  color: #eaecf0;
  font-weight: 300;
  font-size: 10px;
  line-height: 13px;
  cursor: pointer;
}

.note-links nav ul li:nth-child(2){
  margin-right: 10px;  
  font-weight: 300;
  color: #EAECF0;
  font-size: 10px;
  line-height: 13px;
  cursor: pointer;
}

.note-links nav ul li:nth-child(3){
  font-weight: 300;
  color: #EAECF0;
  font-size: 10px;
  line-height: 13px;
  cursor: pointer;
}

.footer-img{
  display: none;
}
  
}